@{ ViewData["Title"] = "Admin Crash List"; }

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model CrashesViewModel

    <div class="container">
        <div class="row p-1 m-1">
            <div class="col">
                <a class="btn btn-sm btn-secondary" asp-controller="Home" asp-action="Create">Add Crash</a>
            </div>
            <div class="col-11 text-end">
                <a class="btn btn-sm btn-secondary" href="/account/logout">Log Out</a>
            </div>
        </div>
    </div>
    

    <div class="row m-1 p-1">

        <div class="col-12">
            

            <!--Table that shows crashes and allows edit / delete-->
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Crash ID</th>
                        <th>Crash Datetime</th>
                        <th>Route</th>
                        <th>Milepoint</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Main Road Name</th>
                        <th>City</th>
                        <th>Crash Severity</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Crash c in Model.Crashes)
                    {
                        <tr>
                            <td>@c.Crash_Id </td>
                            <td>@c.Crash_Datetime </td>
                            <td>@c.Route</td>
                            <td>@c.Milepoint</td>
                            <td>@c.Lat_Utm_Y</td>
                            <td>@c.Long_Utm_X</td>
                            <td>@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(c.Main_Road_Name.ToLower())</td>
                            <td>@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(c.City.ToLower())</td>
                            <td>@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(c.County_Name.ToLower())</td>

                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@c.Crash_Id">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@c.Crash_Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center">
                @if (ViewBag.PageNum == 1)
                {
                    <a disabled class="btn btn-secondary text-light">First Page</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="AdminTable" asp-route-pageNum="1">First Page</a>
                }
                @if (ViewBag.PageNum <= 1)
                {
                    <a disabled class="btn btn-secondary text-light">Back</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="AdminTable" asp-route-pageNum="@(ViewBag.PageNum - 1)">Back</a>
                }
                @if (ViewBag.PageNum >= ViewBag.TotalPages)
                {
                    <a disabled class="btn btn-secondary text-light">Next</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="AdminTable" asp-route-pageNum="@(ViewBag.PageNum + 1)">Next</a>
                }
                @if (ViewBag.PageNum == ViewBag.TotalPages)
                {
                    <a disabled class="btn btn-secondary text-light">Last</a>
                }
                else
                {
                    <a class="btn btn-primary text-light" asp-controller="Home" asp-action="AdminTable" asp-route-pageNum="@(ViewBag.TotalPages)">Last</a>
                }
            </div>
        </div>
    </div>